<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container-fluid p-0 my-2 d-flex justify-content-center">
        <%- include('../partials/body'); %>
    </div>
</main>    

</body>

</html>